body{
    text-align: center;
}

.btn{
    height: 200px;
    width: 200px;
    border: 7.5px solid black;
    border-radius: 30px ;
    margin: 2em;
}
.btn-container{
display: flex;
justify-content: center;
}
.red{
    background-color: #819ff9;
}
.blue{
    background-color: #d95980;
}
.yellow{
    background-color: #f99b45;

}
.green{
    background-color: #63aac0;
}
.flash{
    background-color: white;
}
.userFlash{
    background-color: green ;
}
